################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/DormantAccounts/v15/.suo
/.vs/VSWorkspaceState.json
/*.pssproj
/*.sln
/bin
/obj